/* Fonts */
@font-face {
    font-family: Bebas Neue;
    src: url(../assets/Fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family:Open Sans;
    src: url(../assets/Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

/* Reset de Propriedade */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-grid{
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
}

/* Cabeçalho */
.header-flex{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header{
    background-color: #f9003d;
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content:space-between ;
    
    width: 600px;
}

nav a{
    color: white;
    text-decoration:none ;
    font-family: 'Bebas Neue' , sans-serif;
}

#mobile{
    display: none;
}

/* Fomatação do Texto*/
h1{
    color: white;
    font-family: "Bebas Neue";
    font-size: 93px;
    
    border-bottom: 1px solid #ffaf00;
    width: 545px;
    height: 246spx;
}

h3{
    color: #F9003D;
    font-family: 'Courier New', Courier, monospace;
    font-size: 53px;
    margin-top: 29px;

    width: 544px;
    height: 68px;
}

p{
    color: white;
    font-family: "Open Sans";
    font-size: 18px;
    text-decoration: none;
    text-align: justify;
}

#Titulo-Projeto{
    color: #f9003d;
    font-family: "Bebas Neue";
    font-size: 64px;
}

h4{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

h2{
    color: #ffaf00;
    font-family: "Bebas Neue";
    font-size: 64px;
}

#SubInfos{
    color: #a259f7;

    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    text-transform: uppercase;

    width: 289px;
    height: 100px;

    border: 1px solid #a259f7;

    display: flex;
    justify-content: center;
    align-items: center;
}

#BoxEndereço{
    width: 899px;
    height: 204px;

    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    color: #a259f7;
    font-weight: inherit;

    background-color: #010101;
    border: 1px solid #a259f7;

    display: flex;
    align-items: center;
    padding-left: 64px;
}

/* MAIN */
.Titulo{
 display: flex;
 flex-direction: column;
}

 .Banner{
     height: 740px;
     background-image: url(../images/imagem-fundo-banner.png);
     background-size:cover;

     display: flex;
     align-items: center;
 }

 .mouse-icon {
     width: 37.31px;
     height: 80px;
 }


 /* Seção Sobre */

 .Projetos{
     height: 800px;
     background-color: #080324;
    
     display: flex;
     align-items: center;
 }

 .imagem-projeto{
     width: 491px;
     height: 476px;

     margin-top: 64px;
 }

 .Participantes{
     width: 592px;
     height: 476px;

     position: absolute;
     left: 798px;
     top: 1005px;
     display: flex;
     justify-content: space-around;
     flex-direction: column;
 }

 /* SEÇÃO INFORMAÇÕES */

 .infos{
     background-image: url(../images/imagem-fundo-info.png);
     height: 200px;

     display: flex;
     align-items: center;
 }
 
.BoxInfos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 1200px;
    height: 135px;
}

/* Seção Endereço */
.Endereço{
    background-image: url(../images/imagem-fundo-endereco.png);
    height: 526px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.box1{
    width: 874;
    height: 263;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 1000;
    bottom: 40px;
}

.box2{
    display: flex;
    position: absolute;
    top: 1971px;
}

.Map{
    display: flex;
    position: relative;
    z-index: 1001;
    left: 570px;
    bottom: 80px;
}

 

/* Rodapé */

 .footer-flex{
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

footer{
    background-color: #f9003d;
    width: 100%;
    height: 82px;
}

/* Mobile First */
@media screen and (max-width: 767px) {

#mobile {
     display: block;
}

.MostrarMenu{
    left: 0;
}

header nav {
    background-color: #f9003d;
    backdrop-filter: blur(5px);

    position: fixed;
    top: 60px;
    left: -65%;
    flex-direction: column;
    height: calc(100% - 60px);
    width: 65%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: left 0.2s;
}

nav a{
    border-bottom: 2px solid white;
}

main{
    display: none;
}

/* Main */
.Titulo{

    width: 320px;

    position: relative;
    bottom: 160px;
    left: -10px;

}

.mouse-icon{
    display: none;
}

h1{
    font-size: 50px;

    border-bottom: 1px solid #ffaf00;
    width: 320px;
}

h3{
    font-size: 25px;
    
    margin-top: 6px;

}

/* Rodape */

footer{
    display:none; }
}

/* Fim do Arquivo */